@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');

@font-face {
        font-family: 'iceSotong-Rg';
        src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2307-2@1.0/iceSotong-Rg.woff2') format('woff2');
        font-weight: normal;
        font-style: normal;
}

* {
    font-family: 'iceSotong-Rg', 'Noto Sans KR', sans-serif;
    list-style: none;
}

.flex-center {
    display: flex;
    justify-content: center;
    align-content: center;
}
